
.webmixer {
    font-size: 12pt;
    font-family: sans-serif;
}

.webmixer audio {
    width: 100%;
    display: block;
}

.webmixer .trackstrip {
    --track-width: 64px;
    --fader-width: var(--track-width);
    --fader-height: 320px;
    --thumb-width: 25px;
    --thumb-height: 50px;
    
    display: grid;
    grid-auto-columns: var(--track-width);
    grid-auto-flow: column;
    justify-content: stretch;    
    justify-items: stretch;
    align-content: stretch;    
    align-items: stretch;
}

.webmixer .track {
    display: grid;

    background: #292c30;
    height: 100%;
    -webkit-box-shadow: inset 0 0 5px 0 rgba(26,27,28,.75);
    -moz-box-shadow: inset 0 0 5px 0 rgba(26,27,28,.75);
    box-shadow: inset 0 0 5px 0 rgba(26,27,28,.75);
}

.webmixer .track .label {
    display: block;
    overflow: hidden;
    font-size: 11px;
    height: 1em;
    width: 100%;
    float: left;
    user-select: text;
    line-height: 1em;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.webmixer .track .label span {
    display: block;
    white-space: nowrap;
    color: #aaa;
}

/* disable focus outlines */
.webmixer .track input:focus {
    outline: 0
}

/* BUTTONS */
.webmixer .track .button-container {
    grid-auto-flow: column;
    grid-template-columns: .5fr .5fr;
    display: grid;
    user-select: none;
    touch-action: none;
}

.webmixer .track .button {
    background-color: #666B73;
    border-radius: 4px;
    border: 1px solid #000;
    overflow: hidden;
    font-size: 16px;
}

.webmixer .track .button label {
    width: 100%;
    display: block;
}

.webmixer .track .button label input {
    display: none;
    position: absolute;
    top: -20px;
}

.webmixer .track .button label span {
    text-align: center;
    padding: 3px;
    display: block;
}

/* MUTE */
.webmixer .track .button.mute input:hover+span {
    background-color: #efE0E0
}

.webmixer .track .button.mute input:checked+span {
    background-color: #911;
    color: #fff
}

.webmixer .track .button.mute input:checked:hover+span {
    background-color: #c11;
    color: #fff
}

/* SOLO */
.webmixer .track .button.solo input:hover+span {
    background-color: #efE0E0
}

.webmixer .track .button.solo input:checked+span {
    background-color: #191;
    color: #fff
}

.webmixer .track .button.solo input:checked:hover+span {
    background-color: #1c1;
    color: #fff
}

.webmixer .track .eq {
    display: grid;
    justify-items: center;
    user-select: none;
    touch-action: none;
}

.webmixer .track .eq .eq-response {
    width: calc(var(--track-width) - 2px);
}

/* PAN */
.webmixer .track .pan {
    width: calc(var(--track-width) - 2px);
    display: block;
    user-select: none;
    touch-action: none;
}

.webmixer .track .pan input[type=range] {
    width: calc(var(--track-width) - 2px);
}

/* FADER */
.webmixer .track .fader {
    width: var(--fader-width);
    height: var(--fader-height);
    display: block;
    user-select: none;
    touch-action: none;
}

.webmixer .track .vfader {
    display: block;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    position: relative;
    top: calc(var(--fader-height) - 41px);
    left: -5px;
}

.webmixer .vfader input[type=range] {
    align-self: center;
    padding: 0;
    width: calc(var(--fader-height));
    height: 0;
    background: repeating-linear-gradient(90deg,#3b3e41,#3b3e41 .0625em,transparent .0625em,transparent var(--thumb-width)) 50% 8px no-repeat border-box,
                repeating-linear-gradient(90deg,#3b3e41,#3b3e41 .0625em,transparent .0625em,transparent var(--thumb-width)) 50% var(--thumb-width) no-repeat border-box;
    background-size: calc(var(--fader-height) - 10px) .625em,calc(var(--fader-height) - 10px) .625em,100% 2.25em;
    cursor: pointer;
}

.webmixer .vfader input[type=range],
.webmixer .vfader input[type=range]::-webkit-slider-runnable-track,
.webmixer .vfader input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.webmixer .vfader input[type=range]::-webkit-slider-runnable-track {
    position: relative;
    height: .15em;
    border-radius: .1875em;
    background: #15181b
}

.webmixer .vfader input[type=range]::-moz-range-track {
    width: calc(var(--fader-height) - 10px);
    height: .15em;
    border-radius: .1875em;
    background: #15181b
}

.webmixer .vfader input[type=range]::-ms-track {
    border: none;
    height: .15em;
    border-radius: .1875em;
    color: transparent;
    background: #15181b
}

.webmixer .vfader input[type=range]::-ms-fill-lower {
    display: none
}

.webmixer .vfader input[type=range]::-webkit-slider-thumb {
    margin-top: calc(var(--thumb-width) * -0.5 + 1px);
    border: none;
    width: var(--thumb-height);
    height: var(--thumb-width);
    border-radius: 5px;
    box-shadow: -1px 0 2px #928886,
                inset -1px 0 1px #fff;
    background: radial-gradient(#ebe1e0 10%,rgba(235,225,224,.2) 10%,rgba(235,225,224,0) 72%) 50% 50% no-repeat,
                radial-gradient(at 100% 50%,#e9dfde,#eae1de 71%,transparent 71%) 82% 50% no-repeat,
                linear-gradient(90deg,#e9dfde,#d0c8c6) 100% 50% no-repeat,
                radial-gradient(at 0 50%,#d0c6c5,#c6baba 71%,transparent 71%) 18% 50% no-repeat,
                linear-gradient(90deg,#e3d9d8,#d0c6c5) 0 50% no-repeat,
                linear-gradient(#cdc0c0,#fcf5ef,#fcf5ef,#cdc0c0);
    background-size: 10px 100%
}

.webmixer .vfader input[type=range]::-moz-range-thumb {
    margin-top: calc(var(--thumb-width) * -0.5 + 1px);
    border: none;
    width: var(--thumb-height);
    height: var(--thumb-width);
    border-radius: 5px;
    box-shadow: -1px 0 2px #928886,
                inset -1px 0 1px #fff;
    background: radial-gradient(#ebe1e0 10%,rgba(235,225,224,.2) 10%,rgba(235,225,224,0) 72%) 50% 50% no-repeat,
                radial-gradient(at 100% 50%,#e9dfde,#eae1de 71%,transparent 71%) 82% 50% no-repeat,
                linear-gradient(90deg,#e9dfde,#d0c8c6) 100% 50% no-repeat,
                radial-gradient(at 0 50%,#d0c6c5,#c6baba 71%,transparent 71%) 18% 50% no-repeat,
                linear-gradient(90deg,#e3d9d8,#d0c6c5) 0 50% no-repeat,
                linear-gradient(#cdc0c0,#fcf5ef,#fcf5ef,#cdc0c0);
    background-size: 10px 100%
}

.webmixer .vfader input[type=range]::-ms-thumb {
    margin-top: calc(var(--thumb-width) * -0.5 + 1px);
    border: none;
    width: var(--thumb-height);
    height: var(--thumb-width);
    border-radius: 5px;
    box-shadow: -1px 0 2px #928886,
                inset -1px 0 1px #fff;
    background: radial-gradient(#ebe1e0 10%,rgba(235,225,224,.2) 10%,rgba(235,225,224,0) 72%) 50% 50% no-repeat,
                radial-gradient(at 100% 50%,#e9dfde,#eae1de 71%,transparent 71%) 82% 50% no-repeat,
                linear-gradient(90deg,#e9dfde,#d0c8c6) 100% 50% no-repeat,
                radial-gradient(at 0 50%,#d0c6c5,#c6baba 71%,transparent 71%) 18% 50% no-repeat,
                linear-gradient(90deg,#e3d9d8,#d0c6c5) 0 50% no-repeat,
                linear-gradient(#cdc0c0,#fcf5ef,#fcf5ef,#cdc0c0);
    background-size: 10px 100%
}

.webmixer .vfader input[type=range]:focus::-webkit-slider-runnable-track {
    background: #15181b
}

.webmixer .vfader input[type=range]:focus::-moz-range-track {
    background: #15181b
}

.webmixer .vfader input[type=range]:focus::-ms-track {
    background: #15181b
}
