{{define "index-mt"}}<!DOCTYPE html>
<html>
<head>
  <title>{{.Path}}</title>
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <style type="text/css">
a, a:active {text-decoration: none; color: blue;}
a:visited {color: #48468F;}
a:hover, a:focus {text-decoration: underline; color: red;}
body {background-color: #F5F5F5; margin: 0}
h2 {margin-bottom: 8px; margin-top: 8px;}
table {margin-left: 12px;}
th, td { font: 90% monospace; text-align: left; vertical-align: middle;}
th { font-weight: bold; padding-right: 14px; padding-bottom: 3px;}
td {padding-right: 10px;}
td.n, th.n {white-space: nowrap;}
td.m, th.m {white-space: nowrap;}
td.s, th.s {white-space: nowrap; text-align: right;}
td.t, th.t {white-space: nowrap;}
div.list { background-color: white; border-top: 1px solid #646464; border-bottom: 1px solid #646464; padding-top: 10px; padding-bottom: 14px;}
div.foot { font: 90% monospace; color: #787878; padding-top: 4px;}
  </style>
  <link rel="stylesheet" href="{{$.MtUrl}}/mixer.css"/>
</head>
<body>
  <h2>Index of {{.Path}}</h2>
  <div class="list" style="clear: both; float: left">
    <table cellpadding="0" cellspacing="0" summary="Directory Listing">
      <thead>
        <tr>
          <th></th>
          <th class="n"><a href="{{.Path}}?sort={{.SortName}}">Name</a></th>
          <th class="s"><a href="{{.Path}}?sort={{.SortSize}}">Size</a></th>
          <th class="t">Type</th>
          <th class="m"><a href="{{.Path}}?sort={{.SortDate}}">Last Modified</a></th>
        </tr>
      </thead>
      <tbody>
{{if .HasParent}}
        <tr>
          <td></td>
          <td class="n"><a href="{{.ParentHref}}">../</a></td>
          <td class="s"></td>
          <td class="t">Directory</td>
          <td class="m"></td>
        </tr>
{{end}}
{{range .Files}}
{{    if .IsMultitrack}}
        <tr>
          <td><a href="{{.Href}}" title="download">[d/l]</a></td>
          <td class="n"><a href="{{.Href}}" onclick="return songPlayClickHandler(event);" title="play">{{.Name}}</a></td>
          <td class="s">{{.SizeHumanReadable}}</td>
          <td class="t">{{.MimeType}}</td>
          <td class="m">{{.Date}}</td>
        </tr>
{{    else}}
        <tr>
{{      if .IsFolder}}
          <td></td>
          <td class="n"><a href="{{.Href}}">{{.Name}}</a></td>
{{      else}}
          <td><a href="{{.Href}}" title="download">[d/l]</a></td>
          <td class="n">{{.Name}}</td>
{{      end}}
          <td class="s">{{.SizeHumanReadable}}</td>
          <td class="t">{{.MimeType}}</td>
          <td class="m">{{.Date}}</td>
        </tr>
{{    end}}
{{end}}
	  </tbody>
    </table>
  </div>
<div class="mixer">
    <audio id="mc" controls controlsList="nodownload">
        <source type="audio/ogg">
    </audio>
    <div class="trackstrip"></div>
</div>
<template id="trackTemplate">
    <div class="track" data-track="TRACKNAME">
        <div class="label">
            <span class="name center">TRACKNAME</span>
        </div>
        <div class="button-container">
            <div class="mute-button">
                <label>
                    <input type="checkbox" value="1">
                    <span>M</span>
                </label>
            </div>
            <div class="solo-button">
                <label>
                    <input type="checkbox" value="1">
                    <span>S</span>
                </label>
            </div>
        </div>
        <div class="label">
            <span class="level right">0.00dB</span>
        </div>
        <div class="fader">
            <input type="range" min="0" max="1.0" step="any" value="0.787">
        </div>
    </div>
</template>
<script type="text/javascript" src="{{$.MtUrl}}/mixer.js"></script>
<script type="text/javascript" src="{{$.MtUrl}}/track.js"></script>
<script type="text/javascript" src="{{$.MtUrl}}/mixer-ui.js"></script>
<script type="text/javascript">
    function songPlayClickHandler(e) {
        e.preventDefault();
        let href = e.target.getAttribute("href");
        mcAudio.src = href;
        mcAudio.play();
        return false;
    }

    // Create an AudioContext:
    let ac = new AudioContext({latencyHint: "playback"});

    // Create a mixer:
    let mixer = new Mixer();

    // Embed mix.json:
    let mix = {{.MultitrackMixJson}};

    // Add default tracks to mixer:
    mixer.addTracks(mix.tracks);

    // Bind mixer to AudioContext:
    mixer.createNodes(ac);

    // Initialize mixer UI:
    new MixerUI(mixer).init();

    // Find our <audio> element:
    let mcAudio = document.getElementById("mc");
    let mcSource = ac.createMediaElementSource(mcAudio);
    mcSource.channelCountMode = "explicit";
    mcSource.channelInterpretation = "discrete";

    // TODO: would be nice to detect channel count from source.
    let splitter = ac.createChannelSplitter(8);
    try {
        // For older spec implementations:
        splitter.channelCountMode = "max";
    } catch (e) {
        splitter.channelCountMode = "explicit";
    }
    splitter.channelInterpretation = "discrete";
    mcSource.connect(splitter);

    // Split multichannel audio source into stereo/mono tracks:
    let c = 0;
    for (let track of mixer.tracks) {
        // Connect media output to track input:
        let merger = ac.createChannelMerger(2);
        merger.channelCountMode = "explicit";
        merger.channelInterpretation = "discrete";

        if (track.channels == 2) {
            // Assume stereo, so copy left/right channels independently:
            splitter.connect(merger, c++, 0);
            splitter.connect(merger, c++, 1);
        } else {
            // Assume mono, so copy single input channel to both output channels:
            splitter.connect(merger, c, 0);
            splitter.connect(merger, c, 1);
            c++;
        }
        merger.connect(track.inputNode);
    }
</script>
</body>
</html>
{{end}}
